= javascript_include_tag 'private_pub'
= subscribe_to room_channel(room)
:javascript
  PrivatePub.subscribe("#{room_channel(room)}", function(data) {
    $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
  });
