= javascript_include_tag 'private_pub'
= subscribe_to room_channel(room)
:javascript
  PrivatePub.subscribe("#{room_channel(room)}", function(data) {
    $('#chat_room tbody').append(
      $('<tr/>').append(
        $('<td/>').text(data.username),
        $('<td/>').text(data.message)
      )
    )

    $('html').animate({ scrollTop: $(document).height() }, 'fast');
  });
